@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/app")
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-6" style="display:block">
        <h2>Betfair Horse</h2>
        <button type="button" style="margin-top:20px;" class="btn btn-primary waves-effect waves-light" onclick="testBetfair()">Test Betfair</button>
        <div data-select2-id="15" style=" display: flex; margin-top: 20px; align-items:center;">
            <label class="form-label">Logger</label>
            <select class="form-control select2-search-disable select2-hidden-accessible" id="selectDebug" data-select2-id="6" tabindex="-1" aria-hidden="true" style=" margin-left:30px;">
                <option data-select2-id="8" value = 0>No Debug</option>
                <option data-select2-id="8" value=1>severe</option>
                <option data-select2-id="8" value = 2>information</option>
            </select>
            <div id ="loading" style="display:none;">
                <img src="~/Resources/Images/4507fca357c7.gif" width="100px" height="100px" />
            </div>
        </div>
        <div  style="margin-top:20px; ">
            <textarea id="formmessage" class="form-control" rows="30" style="width:100%; max-width: 100%"></textarea>
        </div>
        @*<button> Debug </button>
            <button>  </button>
            <button> Test Betfair </button>*@

    </div>
    <div class="col-md-6">
        <h2>Bet365 Horse</h2>
        <button type="button" style="margin-top:20px;" class="btn btn-primary waves-effect waves-light">Test Bet365</button>
        <div style="margin-top:20px;">
            <textarea id="formmessage" class="form-control" rows="30" style="width:100%; max-width: 100%"></textarea>
        </div>
    </div>
</div>
